<div class="col-xl-4">
    <div class="card">
        <div class="card-body">
            <h2 class="text-dark mt-1 text-center"> Admin </h2>
            <div class="row">
              <div class="col-12">
                 <a class="btn btn-primary btn-block mt-1" href="<%= admin_panel_path %>">Users</a>
                 <a class="btn btn-primary btn-block mt-1" href="<%= all_campaigns_path %>">Occasions</a>
                 <a class="btn btn-primary btn-block mt-1" href="<%= donations_path %>">Transactions</a>
              </div>
            </div>
        </div>
    </div>
</div>
