<div class="container-fluid container-top py-4">
    <div class="container container-signin container-sign p-4">
        <div class="modal-login-body">
          <div class="row">
            <div class="col-12 text-center">
              <img src="/dollar.png" width="100px" class="mb-3">
              <h4 class="font-weight-normal mb-2">William has gifted you 5$</h4>
              <h4 class="font-weight-normal mb-2">for</h4>
              <h4 class="font-weight-bold">Birthday Celebration</h4>
              <a class="btn btn-primary mt-3" href="#">Back</a>
            </div>
          </div>
        </div>
    </div>
</div>
