<div class="container py-4 text-center">
    <h1>Thanks you for giving some love to <%= @donation_receiver %></h1><br>
    <h2><strong>[<%= @donation.amount %>$]</strong></h2>
    <%= link_to "Close", campaigns_path %>
</div>

