<div class="container-fluid container-top py-4">
    <div class="container container-signin container-sign p-4">
        <div class="modal-login-body py-3">
          <div class="row">
            <div class="col-12 text-center">
              <img src="/money1.png" class="mb-3 img-fluid" width="100">
              <h4 class="font-weight-normal mb-2"><%= @gift_giver.user.username %> has gifted <%= @donation_amount %>$</h4>
              <h4 class="font-weight-normal mb-2">for</h4>
              <h4 class="font-weight-bold"><%= @campaign_name %></h4>
              <a class="btn btn-primary mt-3" href="<%=root_path%>">Back</a>
            </div>
          </div>
        </div>
    </div>
</div>
