<div class="container py-5">
  <h3>Editing a campaign</h3>
  <%= form_for(@campaign) do |f| %>
    <%= render(:partial => 'form', :locals => {:f => f})%>
      <%= f.submit('Update Campaign', {class: 'btn btn-primary'}) %>
  <% end %>
</div>