<div class="container-fluid bg-light py-4">
    <div class="container">
        <h1 class="mb-3">Start New Occasion</h1>
        <%= form_for(@campaign) do |f| %>
            <%= render(:partial => 'form', :locals => {:f => f}) %>
         <%= f.submit('Complete Setup', {class: 'btn btn-primary'}) %>
        <% end %>
    </div>
</div>
