/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require sweetalert
 *= require_tree .
 *= require_self
 */
 
@font-face {
  font-family: SystemPlusFont;
  src: url('Roboto.ttf') format('opentype'); 
    
}
body,
p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
div,
button,
input,
li,
ul,
ol,
table,
td,
tr,
th,
fieldset,
font,
strong,
b {
  font-family: SystemPlusFont !important; }

.container-main{
  background: #eee !important;
  min-height: calc(100vh - 300px);
}
.header {
  box-shadow: rgba(41, 41, 43, 0.43) 0px 0px 4px
}
.card {
  background-color: #fff !important;
}
.footer-bg-image {
  background-image: url('/footer-bg.jpg');
}
.footer-bg-color {
  background-color: #000000c2;
  background-repeat: no-repeat;
    background-size: cover;
}
.social-size {
  font-size: 24px;
}
.setting-headig {
  background: #f1f4f5;
}
.setting-links ul a li {
    border-bottom: 1px solid #dadfe2;
    line-height: 14px;
   
   
}
a.active li {
    border-left: 2px solid #437591 !important;
    text-decoration: none !important;
    color: #437591 !important;
}
.setting-links ul a li  {
    color: #969ea2;
    padding: 15px 10px;
    display: inline-block;
    width: 100%;
    
}
.setting-profile-image {
  border-radius: 50%;
  display: block;
  backface-visibility: hidden;
  opacity: 1;
 
}
.setting-profile-image:hover {
  opacity: 0.1;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  font-size: 50px;

}
img#blah:hover {
  cursor: pointer;
}
.profile-change-icon {
  width: 200px;
  height: 200px;
  position: relative;
  margin: 0 auto !important;
}
.profile-change-icon:hover .middle{
  opacity: 1 !important;
  
}
.profile-show-image {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 3px solid #fff !important;
}
.profile-descriptin {
  border-bottom: 1px solid #dadfe2;
}
/*project start*/
.profile-bg {
  background-image: url("/p-bg-2.jpg");
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
}
.profile-bg-overlay {
  padding-top: 100px;
  padding-bottom: 100px;
  background: rgba(0, 0, 0, 0.8);
}
@media only screen and (max-width: 768px) {
  .center {
    text-align: center;
  }
}
.div-center {
  display: block;
  margin: 0 auto;
}
.font-25 {
  font-size: 25px;
  font-weight: 800;
}
.profile-tabs {
   border-bottom: 0px !important;
}
a.nav-link.profile-tabs-color.active {
  color: rgb(91, 97, 110) !important;
}
a.nav-link.profile-tabs-color {
  color: rgb(168, 168, 168) !important;
}
.font-40 {
  font-size: 40px;
  font-weight: 700;
}
.home-header-sub {
    font-size: 18px;
    line-height: 1.7 !important;
}
.home-header-btn {
  border-radius: 28px;
  font-size: 17px;
}
.tranparent-btn {
  color: rgb(121, 126, 130);
  text-decoration: underline;
}
.plan-setction {
  background-color: #f5f9fa;
}
.plan-box {
  border-radius: 5px;
    background: -webkit-linear-gradient(left, rgb(104, 202, 231) 0%, rgb(101, 219, 230) 100%);
    height: 80px;
    width: 104px;
    color: #fff !important;
    margin: 0 auto;
    font-weight: 500;
    padding: 19px 10px;
}
.font-13 {
  font-size: 13px;
}
.text-white {
  color: #fff;
}
.weight-500 {
  font-weight: 500;
}
.weight-700 {
  font-weight: 700;
}
.font-19 {
  font-size: 19px;
}
.weight-600 {
  font-weight: 600;
}
.avatar {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #fff;
}
.font-15 {
  font-size: 15px;
}
.line-height-9 {
  line-height: 0.9;
}
.font-11 {
  font-size: 11px;
}
.fund-image {
  background-image: url(/fund.jpg);
  background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;

}
.fund-image-overlay {
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
  position: relative;
  
}
.thumb {
    background: -webkit-linear-gradient(left, rgb(104, 202, 231) 0%, rgb(101, 219, 230) 100%);
    padding: 5px;
    border-radius: 50%;
    color: #fff;
    font-size: 12px;
}
.campaign-form {
  border-top: 0 !important;
   border-left: 0 !important;
    border-right: 0 !important;
}
.campaign-avatar {
  position: absolute;
  bottom: 18px;
}
.campaign-like {
  position: absolute;
  top: 18px;
  width: 95%;
}
.p-line-3 {
  line-height: 1.3;
}
.compaign-image {
  background: #437591 !important;
  padding: 5px 10px;
  cursor: pointer;
  color: #fff;
}

.img-btn {
  display: none !important;
}
.new-frm-preview img{
  width: 100%;
  height: 300px;
}

.new-frm-preview::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f044";
  position: absolute;
  right: 25px;
  top: 10px;
  color: #fff;
  background: #668926;
  padding: 5px 7px 5px 10px;
  cursor: pointer;
}
.d-non{
  display: none;
}
.new-frm-img {
  background: #f5f5f5;
  padding: 30px 10px;
  border-radius: 4px;
  border: 1px dotted #dad7d4;
  cursor: pointer;
  width: 100%;
}
.img-icon {
  background: #fff;
  border-radius: 50px;
  padding: 25px 10px 0px 10px;
  width: 70px;
  height: 70px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.17);
}
@media only screen and (max-width: 992px) {
.fund-image {
    height: 225px;
  }
}



