<div class="footer-bg-image bt-primary">
    <div class="footer-bg-color pt-4 pb-3">
        <div class="container text-md-center py-4">
            <div class="row">
                <div class="col-md-4">
                    <h3 class="text-primary mb-3 text-left">Boonbee</h3>
                    <p class="text-primary text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="col-md-3 col-4">
                    <h3 class="text-primary mb-3">Links</h3>
                    <a href="#" class="text-primary">Home</a><br>
                    <a href="#" class="text-primary">About Us</a><br>
                    <a href="#" class="text-primary">Services</a><br>
                    <a href="#" class="text-primary">Contact Us</a>
                </div>
                <div class="col-md-3 col-4">
                    <h3 class="text-primary mb-3">Account</h3>
                    <a href="/users/sign_in" class="text-primary">Login</a><br>
                    <a href="/users/sign_up" class="text-primary">Sign Up</a>
                </div>
                <div class="col-md-2 col-4">
                    <h3 class="text-primary mb-3">Follow Us</h3>
                    <a href="" class="text-primary"><i class="fab fa-facebook-square social-size"></i></a>
                    <a href="" class="text-primary"><i class="fab fa-twitter-square social-size"></i></a>
                    <a href="" class="text-primary"><i class="fab fa-linkedin social-size"></i></a>
                    <a href="" class="text-primary"><i class="fab fa-instagram social-size"></i></a>
                </div>
            </div>
        </div>
        <hr class="border-primary">
        <p class="text-primary mb-0 text-center">Copyright ©2019 Boonbee | Developed <a href="http://systemplus.com.pk" class="text-primary">By System Plus</a> </p>
    </div>
</div>